body {
    background: linear-gradient(to bottom, rgb(166, 215, 238), #81b1ec);
}

/* -------MENU DROPDOWN-------- */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/** contenedor principal **/
.wrapper {
    display: flex;
    flex-flow: column wrap;
}

.wrapper-personajes {
    display: flex;
    flex-flow: row wrap;
}

.personaje {
    display: flex;
    align-items: center;
}

.personaje p {
    padding: 15px;
    font-weight: bold;
}

.personaje img {
    border: #000;
    border-style: dashed;
    border-radius: 45px;
    width: 350px;
}

.wrapper-dire {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}

.wrapper-dire img {
    border-style: solid;
    width: 250px;
    height: 250px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

}

.wrapper-dire p {
    padding: 55px;
    font-weight: bold;
}

/* -------TITULO-------- */
.titulo {
    background-image: url(/ej4/fondo.jpg);
    text-align: center;
    font-family: Arial;
    font-size: 70px;
    COLOR: #1278BF;
    text-shadow: 0px 0px 9px #508AD3;
}

/* -------CLASE DIRECTOR-------- */
.director {
    text-shadow: 0px 0px 9px #508AD3;
    color: #04AA6D;
    font-size: 45px;
    text-align: center;
    font-family: arial;
}

/* -------FORMULARIO-------- */
form {

    position: relative;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color: #ccc;
}

form label {
    font-weight: bold;
    display: inline-block;
}

form input[type="text"],
form input[type="email"] {
    padding: 3px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    display: inline-block;
}

form input[type="submit"] {

    padding: 8px 16px;
    margin-top: 32px;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    color: #fff;
    background-color: #000;
}

form input[type="submit"]:hover {
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    resize: none;
    display: block;

}

#opinion {
    text-shadow: 0px 0px 9px #508AD3;
    color: #04AA6D;
    font-size: 45px;
    text-align: center;
    font-family: arial;
}

/*** tabla ***/
#plataformasdestreaming {
    text-shadow: 0px 0px 9px #508AD3;
    color: #04AA6D;
    font-size: 45px;
    text-align: center;
    font-family: arial;
}

table {
    width: 100%;
    border: 1px solid #000;
}

th,
td {
    background-color: burlywood;
    width: 25%;
    text-align: center;
    vertical-align: top;
    border: 2px solid #000;
    border-spacing: 0;
}

/*** media ***/
#media {
    text-shadow: 0px 0px 9px #508AD3;
    color: #04AA6D;
    font-size: 45px;
    text-align: center;
    font-family: arial;
}

/** extra **/
#extra {
    text-shadow: 0px 0px 9px #508AD3;
    color: #04AA6D;
    font-size: 45px;
    text-align: center;
    font-family: arial;
}

/** links **/
#links {
    text-shadow: 0px 0px 9px #508AD3;
    color: #04AA6D;
    font-size: 45px;
    text-align: center;
    font-family: arial;

}

/** inicio **/
#inicio {
    text-shadow: 0px 0px 9px #508AD3;
    color: #04AA6D;
    font-size: 45px;
    text-align: center;
    font-family: arial;
}

/** personajes texto **/
#personajes {
    text-shadow: 0px 0px 9px #508AD3;
    color: #04AA6D;
    font-size: 45px;
    text-align: center;
    font-family: arial;
}

h4 {
    text-shadow: 0px 0px 9px #82e27f;
    color: rgb(255, 136, 0);
    font-size: 25px;
    text-align: left;
    font-family: arial;
    background-color: ;
    
}

/** h3 **/
h3{
    background-color: #000;
}